/* .four {
    color: #FF5630;
    font-size: 300px;
    font-family: Rubik Moonrocks;
    font-weight: 400;
    word-wrap: break-word;
    font-family: "Rubik Moonrocks", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

main {
    margin-top: 120px;
}

img {
    width: 345px;
    height: 274.987px;
    margin-right: 10px;
    flex-shrink: 0;
    background: url(<path-to-image>)/ cover no-repeat;


}

table {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

form {
    width: 1440px;
height: 691px;
background: #FFF;
}

.oops {
    color: #000;

    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 151px;
}

.btn {
    color: var(--Primary, #00AC55);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: var(--Primary, #00AC55);
    font-family: "Public Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 274px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--Primary, #00AC55);
    background: var(--Background-On-Light,
            linear-gradient(0deg, #FFF 0%, #FFF 100%),
            linear-gradient(0deg, #FFF 0%, #FFF 100%), #F4F6F7);
}
